.info {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  text-align: left;
}

.recentMoves {
  flex: 1 1;
  overflow: auto;
}

.settings {
  flex: 1.5;
}

.numberInput {
  width: 3em;
}

li {
  display: flex;
  list-style-type: none;
}

span {
  padding-right: 0.2em;
}

span.header {
  font-weight: bold;
}

span.movePiece {
  flex: 0.8;
}

span.moveSquares {
  flex: 1;
}

span.moveCapture {
  flex: 1;
}

span.moveTime {
  flex: 1;
}

span.white {
  color: #aaa
}

span.black {
  color: #000
}
