.square {
  border: 2px solid;
  border-color: transparent;
  flex-grow: 0.125;
  text-align: center;
  vertical-align: middle;
  height: 37.5px; /* TODO */
  width: 0;
}

.square.shaded {
  background-color: #eee;
}

.selected {
  border-color: #CC0;
}

.piece {
  background-repeat: no-repeat;
  background-size: contain;
}

.w-pawn {
  background-image: url("../../../bundle/images/w-pawn.png");
}

.w-knight {
  background-image: url("../../../bundle/images/w-knight.png");
}

.w-bishop {
  background-image: url("../../../bundle/images/w-bishop.png");
}

.w-rook {
  background-image: url("../../../bundle/images/w-rook.png");
}

.w-queen {
  background-image: url("../../../bundle/images/w-queen.png");
}

.w-king {
  background-image: url("../../../bundle/images/w-king.png");
}

.b-pawn {
  background-image: url("../../../bundle/images/b-pawn.png");
}

.b-knight {
  background-image: url("../../../bundle/images/b-knight.png");
}

.b-bishop {
  background-image: url("../../../bundle/images/b-bishop.png");
}

.b-rook {
  background-image: url("../../../bundle/images/b-rook.png");
}

.b-queen {
  background-image: url("../../../bundle/images/b-queen.png");
}

.b-king {
  background-image: url("../../../bundle/images/b-king.png");
}
