.info {
  display: flex;
  flex: 1;
  height: 100%;
  text-align: left;
}

.recentMoves {
  flex: 2;
  height: 10em;
  overflow: auto;
}

li {
  display: flex;
  list-style-type: none;
}

span {
  padding-right: 0.2em;
}

span.header {
  font-weight: bold;
}

span.movePiece {
  flex: 0.8;
}

span.moveSquares {
  flex: 1;
}

span.moveCapture {
  flex: 1;
}

span.moveTime {
  flex: 1;
}

span.white {
  color: #aaa
}

span.black {
  color: #000
}
