.info {
  display: flex;
  flex: 1;
  height: 100%;
  text-align: left;
}

.recentMoves {
  height: 10em;
  overflow: auto;
}

li {
  list-style-type: none;
}

span {
  padding-right: 0.2em;
}

span.piece {
  flex: 1;
}

span.squares {
  flex: 1;
}

span.capture {
  flex: 1;
}

span.time {
  flex: 1;
}
